*{
    box-sizing: border-box !important; 
}

body{
    margin: 0 !important;
    padding: 0 !important;
}

.bg-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47.2rem;
    background-image: url('images/BuildingConstruction.jpg');
    backdrop-filter: blur(8px);
    opacity: 0.9;
}

.userdropdown{
    padding: 0.25rem 0rem;
    background-color: transparent;
}

#dropdownMenuButton{
    background-color: transparent;
    color: whitesmoke;
    border: 0px solid transparent;
    margin: 0px;
}

.dropdown-item{
    color: green !important;
}
.dropdown-item:active{
    background-color: darkgray !important;
    color: green !important;

}
.dropdown-menu{
    margin-top: 1rem;
    background-color: #2c2424fa !important;
    border-color: black !important;
}

.footer{
    background-color: black;
    color: white;
}

.footer{
    background-color: black;
    color: white;
}

.card-body{
    padding: 0rem 1.25rem;
}

.links > a{
    text-decoration: none; 
    color: white !important;
}

.card-title{
    margin-bottom: 1rem;
}

.contact-title{
    font-size: 1.5rem !important;
}

.suggestion{
    background-color: transparent;
    /* padding: 2rem; */
    margin: 1.5rem;
}

#Email{
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid #263543;
}
#Message{
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid #263543;
}

#submitbtn{
    background-color: transparent;
    margin: 0.2rem 0.75rem;
    border-color: #415c79;
}

.copyright{
    text-align: center;
    padding: 1rem 0.5rem;
}

.list-item-footer{
    color: #bffce0 !important;
    background-color: transparent !important;
    padding-left: 0.25rem;
}

.list-item-footer:active{
    background-color: transparent !important;
    color: #58dfa1 !important;
}

/* Taken from CodePen */
/* For Social Media Links  */

#lab_social_icon_footer {
    padding: 40px 0;
    background-color: black;
  }
  
  #lab_social_icon_footer a {
    color: #333;
  }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  /*
      Multicoloured Hover Variations
  */
  
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  
  #lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
  }
  
  #lab_social_icon_footer #social-gp:hover {
    color: #d34836;
  }
  
  #lab_social_icon_footer #social-em:hover {
    color: #f39c12;
  }

/* Taken from CodePen */
